{% extends "base.html" %}
{% block title %}post_search.html{% endblock %}

{% block content %}

    <h1>Student Search</h1>

    <br>

    <form action="." method="post"> {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>

    <br/><br/>

    {% if object_list %}
        {% for student in object_list %}
            <h2><a href='{{ student.get_absolute_url }}'>{{ student.name }}</a></h2>
            <h6>대학교 : {{ student.univ }}</h6>
            <h6>전화번호 : {{ student.tel }}</h6>
            <h6>학과 : {{ student.group }}</h6>
            <h6>학번 : {{ student.studentnum }}</h6>
        {% endfor %}
    {% elif search_term %}
        <b><i>Search Word ({{ search_term }}) Not Found !</i></b>
    {% endif %}

{% endblock %}